<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temporada 2</title>
    <link rel="shortcut icon" href="../imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/temporada.css">
    <link rel="stylesheet" href="../css/padrao.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="../js/topo.js" defer></script>
</head>
<body>

    <header id="cabecalho">

        <div class="logo">
            <a href="../../index.html" aria-label="Imagem clicável para a página incial no topo" rel="self" id="logo">
                <img src="../imagens/logo.png" alt="Logo da série: Não me abrace, estou assustado">
            </a>
        </div>

        <nav class="nav">
            <ul>

                <a href="javascript: history.go(-1)" aria-label="Voltar para a página anterior" class="ative" rel="prev"> &#8920; Voltar</a>

                <a href="#episodios" aria-label="Os episódios da temporada">Episódios</a>

                <a href="#rodape" aria-label="Os créditos do site">Créditos</a>

            </ul>
        </nav>

    </header>

    <main id="conteudo">

        <section id="episodios">

            <div class="titulo">
                <h1>Temporada 2</h1>
            </div>

            <article class="flex-row-desktop"> <!--De 2 em 2 episodios mostrados para telas mais largas-->

                <article class="episodio">

                    <div class="ep">

                        <h2>Trabalho</h2>

                        <figure class="capa">
                            <img src="../imagens/ep1-temp2.png" alt="Episódio 1">
                        </figure>

                    </div>

                    <div class="opcoes">

                        <a href="temporada-2/legendados/ep-1.html" aria-label="Veja o episódio 1 legendado clicando aqui" rel="next">Legendado</a>

                        <a href="temporada-2/dublados/ep-1.html" aria-label="Veja o episódio 1 dublado clicando aqui" rel="next">Dublado</a>

                    </div>

                </article>

                <article class="episodio">

                    <div class="ep">
    
                        <h2>Morte</h2>
    
                        <figure class="capa">
                            <img src="../imagens/ep2-temp2.png" alt="Episódio 2">
                        </figure>
    
                    </div>
    
                    <div class="opcoes">
    
                        <a href="temporada-2/legendados/ep-2.html" aria-label="Veja o episódio 2 legendado clicando aqui" rel="next">Legendado</a>
    
                        <a href="temporada-2/dublados/ep-2.html" aria-label="Veja o episódio 2 dublado clicando aqui" rel="next">Dublado</a>
    
                    </div>
    
                </article>

            </article>

            <article class="flex-row-desktop">

                <article class="episodio">

                    <div class="ep">
    
                        <h2>Família</h2>
    
                        <figure class="capa">
                            <img src="../imagens/ep3-temp2.png" alt="Episódio 3">
                        </figure>
    
                    </div>
    
                    <div class="opcoes">
    
                        <a href="temporada-2/legendados/ep-3.html" aria-label="Veja o episódio 3 legendado clicando aqui" rel="next">Legendado</a>
    
                        <a href="temporada-2/dublados/ep-3.html" aria-label="Veja o episódio 3 dublado clicando aqui" rel="next">Dublado</a>
    
                    </div>
    
                </article>
    
                <article class="episodio">
    
                    <div class="ep">
    
                        <h2>Amizade</h2>
    
                        <figure class="capa">
                            <img src="../imagens/ep4-temp2.png" alt="Episódio 4">
                        </figure>
    
                    </div>
    
                    <div class="opcoes">
    
                        <a href="temporada-2/legendados/ep-4.html" aria-label="Veja o episódio 4 legendado clicando aqui" rel="next">Legendado</a>
    
                        <a href="temporada-2/dublados/ep-4.html" aria-label="Veja o episódio 4 dublado clicando aqui" rel="next">Dublado</a>
    
                    </div>
    
                </article>

            </article>

            <article class="flex-row-desktop">

                <article class="episodio">

                    <div class="ep">
    
                        <h2>Transporte</h2>
    
                        <figure class="capa">
                            <img src="../imagens/ep5-temp2.png" alt="Episódio 5">
                        </figure>
    
                    </div>
    
                    <div class="opcoes">
    
                        <a href="temporada-2/legendados/ep-5.html" aria-label="Veja o episódio 5 legendado clicando aqui" rel="next">Legendado</a>
    
                        <a href="temporada-2/dublados/ep-5.html" aria-label="Veja o episódio 5 dublado clicando aqui" rel="next">Dublado</a>
    
                    </div>
    
                </article>
    
                <article class="episodio">
    
                    <div class="ep">
    
                        <h2>Eletricidade</h2>
    
                        <figure class="capa">
                            <img src="../imagens/ep6-temp2.png" alt="Episódio 6">
                        </figure>
    
                    </div>
    
                    <div class="opcoes">
    
                        <a href="temporada-2/legendados/ep-6.html" aria-label="Veja o episódio 6 legendado clicando aqui" rel="next">Legendado</a>
    
                        <a href="temporada-2/dublados/ep-6.html" aria-label="Veja o episódio 6 dublado clicando aqui" rel="next">Dublado</a>
    
                    </div>
    
                </article>
                
            </article>

        </section>
        
        <span class="material-symbols-outlined sr-only" id="topo" aria-hidden="true" aria-label="Volte ao topo da página clicando aqui" tabindex="0">
            shift
        </span>

    </main>

    <footer id="rodape">

        <p>
            Site criado por <a href="https://github.com/Enne-Amore" aria-label="Meu perfil do GitHub" rel="external" target="_blank">Enne Jim Pessoa</a>
        </p>

        <hr>

        <section class="creditos">

            <h3>Créditos:</h3>

            <ul class="lista">

                <li>
                    <a href="http://cinegnose.blogspot.com/2016/01/curta-da-semana-dont-hug-me-im-scared-o.html" aria-label="Autoria da logo do site" rel="external" target="_blank">
                        Logo do site
                    </a>
                </li>

                <li>
                    <a href="https://www.youtube.com/@donthugmeimscared" aria-label="Autoria dos episódios no Youtube" rel="external" target="_blank">
                        Canal Oficial
                    </a>
                </li>

                <li>
                    <a href="https://www.deviantart.com/fnafnate/art/Don-t-hug-me-I-m-scared-wallpaper-797185474" aria-label="Autoria da imagem que pode representar a 1ª temporada" rel="external" target="_blank">
                        Imagem representante da 1ª temporada
                    </a>
                </li>

                <li>
                    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.reddit.com%2Fr%2FDHMIS%2Fcomments%2Fepcg5i%2Fthe_dhmis_trio_ssbukfad2_style_icon%2F&psig=AOvVaw1P7mhrO_NPG_iIZdeQV2xH&ust=1692712985849000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCKDskLL17YADFQAAAAAdAAAAABAE" aria-label="Autoria do ícone do site" rel="external" target="_blank">
                        Ícone do site
                    </a>
                </li>

                <li>
                    <a href="https://www.deviantart.com/fnafnate/art/Don-t-hug-me-I-m-scared-wallpaper-797185474" aria-label="Autoria da imagem de fundo" rel="external" target="_blank">
                        Imagem de fundo
                    </a>
                </li>

                <li>
                    <a href="https://br.pinterest.com" aria-label="Autoria das imagens como figuras dos textos da primeira página" rel="external" target="_blank">
                        Imagens de figura dos textos
                    </a>
                </li>

            </ul>

        </section>

    </footer>

</body>
</html>
