@charset 'UTF-8';

@font-face {
    font-family: 'puppet';
    src: url(../fontes/cartoon_toy_turbo/Cartoon\ Toy\ Turbo\ Bold.otf) format(opentype);
}

/* O conteúdo do site */

#sobre .parte {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin: 2% 5%;
}
#sobre .parte .circulo img {
    width: 100%;
    height: 100%;
    border-radius: 10em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.267);
}
#sobre .retangulo {
    width: fit-content;
    height: fit-content;
    border-radius: 1em;
    background-color: #D96277;
    color: white;
    padding: 2%;
    font-family: 'puppet';
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.123);
}
#sobre .parte .retangulo {
    font-size: 1.3em;
}
#sobre .parte.meio .retangulo {
    margin: 3% auto 0;
    text-align: center;
    padding: 2% 3%;
}

#temporadas .flex-row-desktop {
    display: flex;
    margin: auto 5%;
    gap: 5vw;
}
#temporadas, #musicas {
    margin: 8% auto auto;
}
#musicas {
    margin-bottom: 5%;
}
#temporadas .temporadas, #musicas .temporadas {
    display: flex;
    justify-content: center;
    margin: 1% auto;
}
#temporadas .temporadas .temporada .capa, 
#musicas .temporadas .temporada .capa {
    overflow: hidden;
}
#temporadas .temporadas .temporada .capa img, 
#musicas .temporadas .temporada .capa img {
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.267);
    transition: .6s ease-out;
}
#temporadas .temporadas .temporada:hover img, 
#musicas .temporadas .temporada:hover img,
#temporadas .temporadas .temporada:focus-visible img,
#musicas .temporadas .temporada:focus-visible img {
    transform: scale(1.1);
}
#temporadas .temporadas .temporada, 
#musicas .temporadas .temporada {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    background-color: #91D9D2;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.158);
    border-radius: 0 0 5em 5em;
    transition-duration: .4s;
}
#temporadas .temporadas .temporada:hover, 
#musicas .temporadas .temporada:hover,
#temporadas .temporadas .temporada:focus-visible, 
#musicas .temporadas .temporada:focus-visible {
    background-color: #D96277;
    color: white;
    box-shadow: 0px 0px 10px 1px #0d0d0d5e;
}
#temporadas .temporadas .temporada:active, 
#musicas .temporadas .temporada:active {
    background-color: white;
    color: #D96277;
    transition-duration: .2s;
}
#temporadas .temporadas .temporada h2 {
    padding: 7%;
}
#musicas .temporadas .temporada h2 {
    padding: 4%;
}

/* A responsividade do site */

@media only screen and (max-width: 600px) {
    #conteudo #parte-1 {
        flex-direction: column-reverse;
    }
    #conteudo #parte-2 {
        flex-direction: column;
    }
    #conteudo .parte {
        margin: 12% auto 15% auto;
        gap: 0;
    }
    #sobre .parte .circulo {
        display: flex;
        margin: 0 18%;
    }
    #sobre .parte .circulo img {
        border-radius: 10em 10em 0 0;
    }
    #sobre .retangulo {
        margin: 0 5%;
        padding: 5%;
    }
    #sobre .parte.meio .retangulo {
        margin: 1% 5% 4%;
        padding: 5%;
    }

    #temporadas .flex-row-desktop {
        flex-direction: column;
        margin: 0;
        gap: 0;
    }
    #musicas {
        margin-bottom: 12%;
    }
    #temporadas .temporadas, #musicas .temporadas {
        display: flex;
        justify-content: center;
        margin: 10% 5% 5%;
    }
    #temporadas .temporadas .temporada h2, #musicas .temporadas .temporada h2 {
        padding: 8%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    #conteudo #parte-1 {
        flex-direction: column-reverse;
    }
    #conteudo #parte-2 {
        flex-direction: column;
    }
    #conteudo .parte {
        margin: 10% auto 12% auto;
    }
    #sobre .parte .circulo {
        display: flex;
        margin: 0 18%;
    }
    #sobre .parte .circulo img {
        border-radius: 10em 10em 0 0;
    }
    #sobre .retangulo {
        margin: 0 5%;
        padding: 4%;
    }
    #sobre .parte.meio .retangulo {
        margin: 1% 5% 4%;
        padding: 4%;
    }
    
    #temporadas .flex-row-desktop {
        flex-direction: column;
        margin: 0;
        gap: 0;
    }
    #musicas {
        margin-bottom: 12%;
    }
    #temporadas .temporadas, #musicas .temporadas {
        display: flex;
        justify-content: center;
        margin: 10% 5% 5%;
    }
    #temporadas .temporadas .temporada h2, #musicas .temporadas .temporada h2 {
        padding: 8%;
    }
}