@charset 'UTF-8';

@font-face {
    font-family: 'marionete';
    src: url(../fontes/TrashToys02.ttf) format(truetype);
}

/* A mente do site */

body {
    font: 1.5em Arial, sans-serif;
    margin: 0;
    max-width: 100%;
    height: auto;
    text-align: justify;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

/* O corpo do site */

header {
    background-color: #0D0D0D;
    box-shadow: 0px 0px 10px 5px #0d0d0d5e;
    position: relative;
}
header .logo, header .logo img {
    display: flex;
    justify-content: center;
    border-radius: 0 0 3em 3em;
    margin: auto auto 0.5em;
    width: 80%;
    height: 100%;
}
header .nav {
    display: flex;
    justify-content: center;
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 16%;
    margin: 0;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
    color: white;
    transition-duration: .6s;
    border-radius: 1.5em 1.5em 0 0;
}
.nav ul a:hover {
    background-color: white;
    color: #BF7839;
    padding: 0 5%;
    transition-duration: .6s;
}
.nav ul a:active {
    background-color: #BF7839;
    color: white;
    transition-duration: .1s;
}
.nav ul .ative {
    background-color: #BF7839;
    color: white;
    width: 18em;
    text-align: center;
}
.nav ul .ative:hover {
    background-color: white;
    color: #BF7839;
    width: 22em;
    text-align: center;
}
.nav ul .ative:active {
    background-color: #BF7839;
    color: white;
    text-align: center;
}

/* O conteúdo do site */

#conteudo {
    background-image: url(../imagens/fundo1.3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
}
#conteudo .titulo {
    width: max-content;
    height: auto;
    background-color: #91D9D2;
    border-radius: 1em;
    font-size: 2em;
    text-align: center;
    font-family: 'marionete';
    color: #730202;
    padding: 0 1em;
    margin: 4% auto;
}

/* O rodapé do site */

#rodape {
    text-align: center;
    background-color: #0D0D0D;
    color: white;
    padding: 0.1%;
    font-style: italic;
}
#rodape a {
    color: #91D9D2;
    text-decoration: none;
    transition-duration: .6s;
}
#rodape a:hover {
    color: #D96277;
    transition-duration: .6s;
}
#rodape a:active {
    color: #BF7839;
    transition-duration: .1s;
}

/* A responsividade do site */

@media only screen and (max-width: 400px) {
    body {
        font-size: 1em;
    }
    header .logo, header .logo img {
        width: 100%;
        height: 100%;
    }
    .nav ul {
        gap: 3%;
    }
    .nav ul .ative {
        width: 9em;
    }
    .nav ul .ative:hover {
        width: 10em;
    }
    #conteudo .titulo {
        font-size: 1.5em;
        margin: 15% auto auto;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    body {
        font-size: 1em;
    }
    header .logo, header .logo img {
        width: 100%;
        height: 100%;
    }
    .nav ul {
        gap: 5%;
    }
    .nav ul .ative {
        width: 9em;
    }
    .nav ul .ative:hover {
        width: 10em;
    }
    #conteudo .titulo {
        font-size: 1.5em;
        margin: 15% auto auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    body {
        font-size: 1em;
    }
    header .logo, header .logo img {
        width: 100%;
        height: 100%;
    }
    .nav ul {
        gap: 20%;
    }
    .nav ul .ative {
        width: 9em;
    }
    .nav ul .ative:hover {
        width: 10em;
    }
    #conteudo .titulo {
        font-size: 1.5em;
        margin: 15% auto auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    header .logo, header .logo img {
        width: 100%;
        height: 100%;
    }
    .nav ul {
        gap: auto;
    }
    .nav ul .ative {
        width: 16em;
    }
    .nav ul .ative:hover {
        width: 18em;
    }
    #conteudo .titulo {
        margin: 10% auto auto;
    }
}