@charset 'UTF-8';

/* O conteúdo do site de episódios */
#episodios {
    text-align: center;
}

#episodios .eps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
    gap: 3em;
}

#episodios .episodio {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
/* Animações de entrada e saída */
#episodios .episodio:nth-child(odd) {
    animation: esquerda 2s ease-out;
    animation-timeline: view();
    animation-range: cover 0 cover 48%;
}
#episodios .episodio:nth-child(even) {
    animation: direita 2s ease-out;
    animation-timeline: view();
    animation-range: cover 0 cover 48%;
}

#episodios .episodio .capa {
    overflow: hidden;
    border-radius: 0 0 1em 1em;
}
#episodios .episodio .capa img {
    width: 100%;
    height: 100%;
    margin-bottom: -3%;
    transition: .5s ease-out;
}
#episodios .episodio:hover img {
    transform: scale(1.1);
}
#episodios .ep:active ~ .opcoes a {
    background-color: var(--azul);
    transition-duration: .2s;
}

#episodios .episodio .ep {
    position: relative;
    background-color: var(--rosa);
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.158);
    border-radius: 2em;
    width: auto;
    font-family: 'puppet';
    font-size: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#episodios .episodio .ep h2 {
    margin: 1%;
    font-weight: bolder;
    font-size: 1.4em;
}

#episodios .episodio .opcoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

#episodios .episodio .opcoes a {
    background-color: var(--rosa);
    color: white;
    width: max-content;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 0.85em 1em 1em;
    border-radius: 0 0 5em 5em;
    transition-duration: .4s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.158);
}
#episodios .episodio .opcoes a:hover,
#episodios .episodio .opcoes a:focus-visible {
    background-color: var(--azul);
    color: white;
}
#episodios .episodio .opcoes a:active {
    background-color: white;
    color: var(--azul);
    transition-duration: .1s;
}

/* A responsividade do site */
@media only screen and (max-width: 600px) {
    #episodios .eps-container {
        flex-direction: column;
        margin: 0;
        gap: 0;
    }
    #episodios .episodio {
        margin: 10% 5% 5%;
        width: fit-content;
    }
    #episodios .eps-container:last-child .episodio:last-child {
        margin-bottom: 12%;
    }
    #episodios .episodio .ep {
        font-size: 1.6em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    #episodios .eps-container {
        flex-direction: column;
        margin: 0;
        gap: 0;
    }
    #episodios .episodio {
        margin: 8% 5% 10%;
        width: fit-content;
    }
    #episodios .eps-container:last-child .episodio:last-child {
        margin-bottom: 14%;
    }
}
